<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/admin.css">
</head>
<body>
    <div  class="main">
        <div class="sidebar">
            <div class="link">
                <div class="l1">
                    <button id="1">users</button>
                    <button id="2">sellers</button>
                    <button id="3">items</button>
                    <button id="4"><a style="color: white; text-decoration: none;" href="/admin/logout"> Log Out </a></button>
                </div>
            </div>
        </div>
        <div class="right">
            <p style="font-size: 29px;" ><%= data.admin.email %></p>
            <hr>
            <div class="info">
                <p class="info">Total no of users : <%= data.usersdata.length %></p>
                <p class="info">Total no of sellers : <%= data.sellersdata.length %></p>
                <p class="info">Total no of items : <%= data.itemsdata.length %></p>
            </div>
            <h2 class="info" id="in">Users</h2>
            <div class="users">
             <% for (let i = 0; i < data.usersdata.length; i++) { %>
                   <div class="user">
                    <div class="username">Name : <%= data.usersdata[i].email %></div>
                    <div class="useritem">No of items : <%= data.usersdata[i].items.length %></div>
                    <% if(data.admin.permissions.users_editing) { %>
                    <a href="/delete/user/<%= data.usersdata[i]._id %>/<%= data.admin._id %>"><button id=<%= data.usersdata[i].email %> class="userdel" >Delete</button></a>
                  <%  }%>  
                </div> 
               <% } %>
            </div>
            
            <div class="sellers ">
                <% for (let i = 0; i < data.sellersdata.length; i++) { %>
                   <div class="seller">
                    <div class="sellername">Name : <%= data.sellersdata[i].name %></div>
                    <div class="selleremail">Email : <%= data.sellersdata[i].email %></div>
                    <div class="selleremail">Phone : <%= data.sellersdata[i].phone %></div>
                    <div class="selleritem">No of items : <%= data.sellersdata[i].items.length %></div>
                    <% if(data.admin.permissions.seller_editing) { %>
                        <a href="/delete/seller/<%= data.sellersdata[i]._id %>/<%= data.admin._id %>">
                            <button id="<%= data.sellersdata[i].name %>" class="sellerdel">delete</button>
                        </a>  
                    <% } %>
                </div> 
               <% } %>
            </div>
            <div class="items ">
                <% for (let index = 0; index < data.itemsdata.length; index++) { %>
                   <div class="<%= data.itemsdata[index].class %> item">
                    <img src=<%= data.itemsdata[index].url %> alt="">
                   <div class="a">
                <div class="b">
                    <p> name: <%= data.itemsdata[index].name %> </p>
                    <p> posted by: <%= data.itemsdata[index].person %> </p>
                    <p> base price: <%= data.itemsdata[index].base_price %> </p>
                        </div>
                   <div class="c">
                    <% if(data.admin.permissions.items_editing){ %>
                    <a href="/delete/item/<%= data.itemsdata[index]._id %>/<%= data.admin._id %>"><button id=<%= data.itemsdata[index].name %>  class="itemdel" >delete</button></a>
                 <%  }%> 
                </div>
                   </div>
                   </div>
               <% } %>
            </div>
        </div>
    </div>
</body>

<script>
    document.getElementById("1").addEventListener("click",function () { 
      document.getElementById("in").innerHTML="users"
      document.querySelector(".users").style.display="flex"
      document.querySelector(".sellers").style.display="none"
      document.querySelector(".items").style.display="none"
     })
    document.getElementById("2").addEventListener("click",function () { 
      document.getElementById("in").innerHTML="sellers"
      document.querySelector(".users").style.display="none"
      document.querySelector(".sellers").style.display="flex"
      document.querySelector(".items").style.display="none"
     })
    document.getElementById("3").addEventListener("click",function () { 
      document.getElementById("in").innerHTML="items"
      document.querySelector(".users").style.display="none"
      document.querySelector(".sellers").style.display="none"
      document.querySelector(".items").style.display="flex"
     })
  
</script>

</html>
