<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/admin.css">
</head>
<body>
    <div class="main">
        <div class="sidebar">
            <div class="link">
                <div class="l1">
                    <button id="1">users</button>
                    <button id="2">sellers</button>
                    <button id="3">items</button>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="info">
                <h1>total no of users : <%= data.usersdata.length %></h1>
                <h1>total no of sellers : <%= data.sellersdata.length %></h1>
                <h1>total no of items : <%= data.itemsdata.length %></h1>
            </div>
            <h2 id="in">users</h2>
            <div class="users">
             <% for (let i = 0; i < data.usersdata.length; i++) { %>
                   <div class="user">
                    <div class="username">name : <%= data.usersdata[i].email %></div>
                    <div class="useritem">no of items : <%= data.usersdata[i].items.length %></div>
                    <a href="delete/user/<%= data.usersdata[i]._id %>"><button id=<%= data.usersdata[i].email %> class="userdel" >delete</button></a>
                   </div> 
               <% } %>
            </div>
            
            <div class="sellers ">
                <% for (let i = 0; i < data.sellersdata.length; i++) { %>
                   <div class="seller">
                    <div class="sellername">name : <%= data.sellersdata[i].name %></div>
                    <div class="selleremail">email : <%= data.sellersdata[i].email %></div>
                    <div class="selleremail">phone : <%= data.sellersdata[i].phone %></div>
                    <div class="selleritem">no of items : <%= data.sellersdata[i].items.length %></div>
                    <a href="delete/seller/<%= data.sellersdata[i]._id %>"><button id= <%= data.sellersdata[i].name  %> class="sellerdel">delete</button></a>  
                </div> 
               <% } %>
            </div>
            <div class="items ">
                <% for (let index = 0; index < data.itemsdata.length; index++) { %>
                   <div class="<%= data.itemsdata[index].class %> item">
                    <img src=<%= data.itemsdata[index].url %> alt="">
                   <div class="a">
                <div class="b">
                    <p> name: <%= data.itemsdata[index].name %> </p>
                    <p> posted by: <%= data.itemsdata[index].person %> </p>
                    <p> base price: <%= data.itemsdata[index].base_price %> </p>
                        </div>
                   <div class="c">
                    <a href="delete/item/<%= data.itemsdata[index]._id %>"><button id=<%= data.itemsdata[index].name %>  class="itemdel" >delete</button></a>
                   </div>
                   </div>
                   </div>
               <% } %>
            </div>
        </div>
    </div>
</body>

<script>
    document.getElementById("1").addEventListener("click",function () { 
      document.getElementById("in").innerHTML="users"
      document.querySelector(".users").style.display="flex"
      document.querySelector(".sellers").style.display="none"
      document.querySelector(".items").style.display="none"
     })
    document.getElementById("2").addEventListener("click",function () { 
      document.getElementById("in").innerHTML="sellers"
      document.querySelector(".users").style.display="none"
      document.querySelector(".sellers").style.display="flex"
      document.querySelector(".items").style.display="none"
     })
    document.getElementById("3").addEventListener("click",function () { 
      document.getElementById("in").innerHTML="items"
      document.querySelector(".users").style.display="none"
      document.querySelector(".sellers").style.display="none"
      document.querySelector(".items").style.display="flex"
     })
  
</script>

</html>
