

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>auction</title>
</head>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/auctionpage.css">

<body>
    <div id="navbar">
    <h1><%= arr.username %>  </h1>
    </div>
    <div class="outerbox">
        <div class="left">
            <h3 style="text-decoration: underline;" >Auction History</h3>
            <hr>
            <% for (let i = arr.item.auction_history.length-1; i > 0 ; i--) { %>
                <div class="history">
                    <p>bidder: <%= arr.item.auction_history[i].bidder %></p>
                    <p>price :<%= arr.item.auction_history[i].price %></p>
                    <hr>
                </div>
           <% } %>
           
        </div>
    <div class="box">
        <p style="font-size: 25px; font-weight: bold; color: white; " > <%= arr.item.name %> </p>
        <hr>
        <div class="main">
        <div class="image"> <img src=<%= arr.item.url %> alt=""></div>
        <div class="content">
            <p class="bid" > Current bid :<%= arr.item.current_price %></p>
            <p class="bid" > Base price :<%= arr.item.base_price %></p>       
            <p class="data" >Owner :<%= arr.item.person %></p>
            <p class="data">Type :<%= arr.item.type %></p>
            <p class="data">Current bidder : <%= arr.item.current_bidder %></p>
        </div>
        </div>
        <div class="form">
            <form method="post" action="/auction/<%= arr.user %>/item/<%= arr.item._id %>" >
                <input type="number" name="bid" placeholder="enter bid" id="">
                <button type="submit"> Bid
                </button>
              </form>
        </div>
    </div>
   </div>
   
</body>
</html>