<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" type="text/css" href="/home.css">
<body>
  <div id="po" class="parallax">Hexart</div>
    <div id="navbar">
      <div class="top" >
        <div class="logo"></div>
        <div class="buttons">
          <a href="/items/<%= arr.id %>"> my items </a>
          <a href="/seller">start selling </a>
          <div class="sort" id="4">All</div>
          <div class="sort"id="1">Arts</div>
          <div class="sort" id="2">Antiques</div>
          <div class="sort" id="3">Used</div>
               </div>
        <div class="user">    
          <img src="https://cdn-icons-png.flaticon.com/128/848/848043.png" alt=""> <%= arr.user %> </div>
       </div>
       </div>
 <br>
     <div id="cv" class="items">
        <% for (let index = 0; index < arr.items.length; index++) { %>
           <div class="<%= arr.items[index].class %> item ">
            <img src=<%= arr.items[index].url %> alt="">
           <div class="a">
        <div class="b">
            <p> name: <%= arr.items[index].name %> </p>
            <p> posted by: <%= arr.items[index].person %> </p>
            <p> base price: <%= arr.items[index].base_price %> </p>
                </div>
           <div class="c">
            <a href="/<%= arr.id %>/auction/item/<%= arr.items[index]._id %>">
                <button class="butn"> go to auction</button>
               </a>
           </div>
           </div>
           </div>
       <% } %>
    </div>
  

</body>
</html>
<script>
  document.getElementById("1").addEventListener("click", function (param) { 
    document.getElementById("1").classList.add("border")
    document.getElementById("2").classList.remove("border")
    document.getElementById("3").classList.remove("border")
    document.getElementById("4").classList.remove("border")
    document.querySelectorAll(".red").forEach((ele) => {
      ele.classList.add("anim")
      ele.classList.remove("reanim")
      ele.classList.add("none")
      document.querySelectorAll(".black").forEach((el) => {
      el.classList.remove("anim")
      el.classList.remove("none")
      el.classList.add("revanim")
    });
    });
  })
  document.getElementById("2").addEventListener("click", function (param) { 
    document.getElementById("1").classList.remove("border")
    document.getElementById("2").classList.add("border")
    document.getElementById("3").classList.remove("border")
    document.getElementById("4").classList.remove("border")
   document.querySelectorAll(".red ,.black").forEach((ele) => {
      ele.classList.add("anim")
        ele.classList.add("none")
        ele.classList.remove("reanim")
      document.querySelectorAll(".blue").forEach((el) => {
      el.classList.remove("anim")
      el.classList.remove("none")
      el.classList.add("revanim")
    });
    });
  })
  document.getElementById("3").addEventListener("click", function (param) { 
    document.getElementById("1").classList.remove("border")
    document.getElementById("2").classList.remove("border")
    document.getElementById("3").classList.add("border")
    document.getElementById("4").classList.remove("border")
   document.querySelectorAll(".black ,.blue").forEach((ele) => {
      ele.classList.add("anim")
      ele.classList.add("none")
      ele.classList.remove("reanim")
      document.querySelectorAll(".red").forEach((el) => {
      el.classList.remove("anim")
      el.classList.remove("none")
      el.classList.add("revanim")
    });
    });
  })
  document.getElementById("4").addEventListener("click", function (param) { 
    document.getElementById("1").classList.remove("border")
    document.getElementById("2").classList.remove("border")
    document.getElementById("3").classList.remove("border")
    document.getElementById("4").classList.add("border")
    console.log("all");
   document.querySelectorAll(".item").forEach((ele) => {
    ele.classList.remove("anim")  
    ele.classList.remove("revanim")  
    ele.classList.remove("none")  
    ele.classList.add("revanim")  
  })
})
window.onscroll = function() {myFunction()};
setTimeout(() => {
  document.getElementById("po").style.display="none"
  document.getElementById("cv").classList.add("comeup")
  }, 3000);
</script>
