<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>selling page</title>
</head>
<link rel="stylesheet" type="text/css" href="/b.css">
<body>
    <h1><%= arr.username %></h1>
     <h1> current bid :<%= arr.item.current_price %></h1>
     <h2> base price :<%= arr.item.base_price %></h2>
     <div class="<%= arr.item.class %>">
      <img src="<%= arr.item.url %> " alt="">
      <p> name: <%= arr.item.name %> </p>
       <p>type : <%= arr.item.type %></p>
      <p>current bidder : <%= arr.item.current_bidder %></p>
     <form method="post" action="/sell/<%= arr.user %>/<%= arr.item._id %>">
      <button type="submit"> sell
      </button>
    </form>
    </div>
</body>
</html>