<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/sellerhome.css">
</head>
<body>
    <div class="top">
    <h1> <%= arr.name %> </h1>
    <a href="/create/<%= arr._id%>"><button> create auction</button></a>
    </div>    
    <div class="items">
            <% for (let index = 0; index < arr.items.length; index++) { %>
               <div class="<%= arr.items[index].class %> item">
                <img src=<%= arr.items[index].url %> alt="">
            <div class="content"> <p> <%= arr.items[index].name %> </p> </div>
                <a href="/sell/<%= seller %>/<%= arr.items[index]._id %>">
                 <button class="butn"> details </button>
                </a>
               </div>
           <% } %>
    </div>
</body>
</html>